{% extends "base.html" %}
{% load static %}

{% block page_title %}新規ユーザー登録{% endblock %}

{% block extra_css %}
    <style type="text/css">
        .container > .grid {
        height: 100%;
        }
        .column {
            max-width: 400px;
        }
        p.red.message {
            color: #db2828;
            margin: 0.8em 0 0 0.8em;
            text-align: left;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="mx-5 my-5">
        <div class="col">
        <h2 class="mt-3">
            <div class="content mt-5">新規ユーザー登録</div>
        </h2>
        <p>貸出管理サイトのユーザ登録画面です</p>
        <ul class="list">
            <li>登録後に利用できます</li>
        </ul>



        <form action=" " method="post" class="form">
            <div class="ui stacked segment">
                {# --- 全体エラーメッセージ --- #}
                {% if form.non_field_errors %}
                <div class="red message">
                    <div class="header">エラー</div>
                    <ul class="list">
                        {% for non_field_error in form.non_field_errors %}
                        <li>{{ non_field_error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% for field in form %}
                <div class="field{% if field.errors %} error{% endif %}">
                    {# --- 入力フィールド --- #}
                    <div class="ui input{% if field.errors %} error{% endif %}">
                        {{ field }}
                    </div>
                    {# --- 入力フィールドごとのエラーメッセージ（最初のエラーのみを表示） --- #}
                    {% if field.errors %}
                    <p class="red message">{{ field.errors.0 }}</p>
                    {% endif %}
                </div>
                {% endfor %}

                {% csrf_token %}
                <button type="submit" class="submit btn btn-primary mt-3">ユーザー登録</button>
            </div>
        </form>

        <div class="mt-5">
            <a href="{% url 'accounts:login' %}">ログインはこちら</a>
        </div>
    </div>
</div>
{% endblock %}
