{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"ja" }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'webmarkdowns/css/style.css' %}">
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock%}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'webmarkdowns/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'webmarkdowns/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'webmarkdowns/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'webmarkdowns/favicon.ico' %}">
    <link rel="manifest" href="{% static 'webmarkdowns/site.webmanifest' %}">
</head>

<body class="d-flex flex-column" style="min-height: 100vh">
    <header>
        <div class="collapse bg-secondary" id="navbarHeader" style="">
            <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4 text-white">
                <h4>About</h4>
                <p class="text-white"><small>サイトの目的と想定用途：あんなこといいな。できたらいいな。</small></p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact and Setting</h4>
                <ul class="list-unstyled">
                    <li><a href="{% url 'admin:index' %}" class="text-white">admin page</a></li>
                    <li><a href="mailto:s.taguchi0703@gmail.com" class="text-white">Email me</a></li>
                    <li><a href="{% url 'accounts:logout' %}" class="text-white">logout</a></li>
                    <li><a href="{% url 'accounts:profile' %}" class="text-white">edit user profile</a></li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="navbar navbar-secondary shadow-lg">
            <img class="shadow-sm" src="{% static 'webmarkdowns/favicon-32x32.png' %}" alt="S3" title="Simple Markdown Manager">
            <div class="container d-flex justify-content-between">
                <a href="{% url 'accounts:login' %}" class="navbar-brand d-flex align-webmarkdowns-center text-body">
                    Simple Markdown Manager
                </a>
                <button class="navbar-toggler collapsed border " type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <small class="text-muted">more</small>
                    </span>
                </button>
            </div>
        </div>
    </header>

    <main role="main" class="mb-auto">
        {% block content %}
            {{ content }}
        {% endblock %}

    </main>

    <footer class="footer mt-auto py-3  text-muted bg-light">
        <div class="container">
            <div>
                <p class="mt-2">このサイトはtagtagtagによって制作されました。 このサイトの管理は、<a href="{% url 'admin:index' %}">管理者</a>ページを使用してください。</p>
                <p>このサイトの作りかた 技術情報(作成予定)を参照して下さい。</p>
            </div>
        </div>
    </footer>
    {% block extra_js%}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'webmarkdowns/js/script.js' %}"></script>
</body>
</html>