{% extends "base.html" %}
{% load static %}

{% block title %} sm2{% endblock title %}

{% block content %}
    <div class="container">
        <div>
            <h1>
                <img src="favicon_io\favicon-32x32.png" class="border border-secondary rounded shadow">
                Simple Markdown Manager
            </h1>
        </div>
        <div class="row ml-2">
            <button 
                class="btn btn-light border border-secondary rounded shadow shadow-sm m-1" 
                data-toggle="tooltip" 
                data-placement="bottom"  
                onClick="window.alert('event handler isn\'t defined yet!')" 
                title="save as markdown">
                    <i class="fa fa-save fa-2x"></i>
            </button>
            <button 
                class="btn btn-light border border-secondary rounded shadow shadow-sm m-1" 
                data-toggle="tooltip" 
                data-placement="bottom"  
                onClick="window.alert('event handler isn\'t defined yet!')" 
                title="save as markdown">
                    <i class="fab fa-html5 fa-2x"></i>
            </button>
                        <button 
                class="btn btn-light border border-secondary rounded shadow shadow-sm m-1 ml-3" 
                data-toggle="tooltip" 
                data-placement="bottom"  
                onClick="window.alert('event handler isn\'t defined yet!')" 
                title="save as markdown">
                    <i class="fas fa-heading fa-2x"></i>
            </button>
            <button 
                class="btn btn-light border border-secondary rounded shadow shadow-sm m-1" 
                data-toggle="tooltip" 
                data-placement="bottom"  
                onClick="window.alert('event handler isn\'t defined yet!')" 
                title="save as markdown">
                    <i class="fas fa-list fa-2x"></i>
            </button>
            <button 
                class="btn btn-light border border-secondary rounded shadow shadow-sm m-1" 
                data-toggle="tooltip" 
                data-placement="bottom"  
                onClick="window.alert('event handler isn\'t defined yet!')" 
                title="save as markdown">
                    <i class="fas fa-list-ol fa-2x"></i>
            </button>
            <button 
                class="btn btn-light border border-secondary rounded shadow shadow-sm m-1" 
                data-toggle="tooltip" 
                data-placement="bottom"  
                onClick="window.alert('event handler isn\'t defined yet!')" 
                title="save as markdown">
                    <i class="fas fa-th fa-2x"></i>
            </button>
            <button 
                class="btn btn-light border border-secondary rounded shadow shadow-sm m-1" 
                data-toggle="tooltip" 
                data-placement="bottom"  
                onClick="window.alert('event handler isn\'t defined yet!')" 
                title="save as markdown">
                    <i class="fas fa-code fa-2x"></i>
            </button>
            <button 
                class="btn btn-light border border-secondary rounded shadow shadow-sm m-1" 
                data-toggle="tooltip" 
                data-placement="bottom"  
                onClick="window.alert('event handler isn\'t defined yet!')" 
                title="save as markdown">
                    <i class="fas fa-link fa-2x"></i>
            </button>
            <button 
                class="btn btn-light border border-secondary rounded shadow shadow-sm m-1" 
                data-toggle="tooltip" 
                data-placement="bottom"  
                onClick="window.alert('event handler isn\'t defined yet!')" 
                title="save as markdown">
                    <i class="fas fa-image fa-2x"></i>
            </button>
            <button 
                class="btn btn-light border border-secondary rounded shadow shadow-sm m-1 ml-3" 
                data-toggle="tooltip" 
                data-placement="bottom"  
                onClick="window.alert('event handler isn\'t defined yet!')" 
                title="save as markdown">
                    <i class="far fa-eye fa-2x"></i>
            </button>
            <button 
                class="btn btn-light border border-secondary rounded shadow shadow-sm m-1" 
                data-toggle="tooltip" 
                data-placement="bottom"  
                onClick="window.alert('event handler isn\'t defined yet!')" 
                title="save as markdown">
                    <i class="fas fa-columns fa-2x"></i>
            </button>
            <button 
                class="btn btn-light border border-secondary rounded shadow shadow-sm m-1" 
                data-toggle="tooltip" 
                data-placement="bottom"  
                onClick="window.alert('event handler isn\'t defined yet!')" 
                title="save as markdown">
                    <i class="fas fa-question-circle fa-2x"></i>
            </button>
        </div>
        <div class="row">
            <textarea class="col border border-secondary" id="markdown_editor_textarea" rows="15" cols="" onkeyup=md2html()></textarea>
            <div class="col border border-secondary" id="markedPreview"></div>
        </div>
    </div>

{% endblock content %}